{% extends 'FacturaBundle::layout.html.twig' %}

{% block body %}
<!-- Static navbar -->

<div class="container">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
         <h3>Provincias</h3>
   <table class="table table-striped">
        <thead>
            <tr>
                <th>Id </th>
                <th>Nombre </th>
                <th>Acción </th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('provincia_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>
                <ul>
                    <li class="sinPunto">                                    
                                    <a class="btn btn-default glyphicon glyphicon-search" href="{{ path('provincia_show', { 'id': entity.id }) }}"></a>
                                </li>
                                <li class="sinPunto">                                 
                                    <a class="btn btn-default glyphicon glyphicon-edit" href="{{ path('provincia_edit', { 'id': entity.id }) }}"></a>                                    
                                </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
         
    </div>
</div> <!-- /container -->
   
    {% endblock %}
