{% extends 'FacturaBundle::layout.html.twig' %}

{% block body %}
<!-- Static navbar -->

<div class="container">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
         <h3>Producto</h3>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Precio costo</th>
                <th>Activo</th>
                <th>Fecha alta</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('producto_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.descripcion }}</td>
                <td>{{ entity.precio }}</td>
                <td>{{ entity.precioCosto }}</td>
                <td>{{ entity.activo }}</td>
                <td>{% if entity.fechaAlta %}{{ entity.fechaAlta|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                     <li class="sinPunto">                                    
                                    <a class="btn btn-default glyphicon glyphicon-search" href="{{ path('producto_show', { 'id': entity.id }) }}"></a>
                                </li>
                                <li class="sinPunto">                                 
                                    <a class="btn btn-default glyphicon glyphicon-edit" href="{{ path('producto_edit', { 'id': entity.id }) }}"></a>                                    
                                </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
</div> <!-- /container -->
   
    {% endblock %}
