{% extends 'FacturaBundle::layout.html.twig' %}

{% block body %}
<!-- Static navbar -->

<div class="container">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Producto</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ entity.precio }}</td>
            </tr>
            <tr>
                <th>Precio costo</th>
                <td>{{ entity.precioCosto }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{{ entity.activo }}</td>
            </tr>
            <tr>
                <th>Fecha alta</th>
                <td>{{ entity.fechaAlta|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>
    <table>
                <tr>
                    <td><button class="btn btn-small btn-primary" type="button" href="{{ path('producto') }}">Volver al listado </button></td> 
                    <td><button class="btn btn-small btn-primary" type="button" href="{{ path('producto_edit', { 'id': entity.id }) }}">Editar</button></td>
                    <td>{{ form(delete_form) }}</td>        
                </tr>
        </table>
    </div>
</div> <!-- /container -->
    
{% endblock %}
