{% extends 'FacturaBundle::layout.html.twig' %}

{% block body %}
<!-- Static navbar -->

<div class="container">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
          <h1>Iva</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('iva') }}">
            Volver al listado
        </a>
    </li>
    <li>
        <a href="{{ path('iva_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
    </div>
</div> <!-- /container -->
  
{% endblock %}
