{% extends '::base.html.twig' %}
{% block login %}
<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
            <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>

            {% endif %}
            </div>

        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
            <div class="{{ type }}">
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
            {% endfor %}
        {% endfor %}

                <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
                    </div> </div>
{% endblock %}
{% block stylesheets %}
{{parent()}}
                <div class="navbar navbar-default navbar-static-top" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">Project name</a>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="{{ path('homepage') }}">Home</a></li>     
                                <li><a href="{{ path('factura') }}">Factura</a></li>      
                                <li><a href="{{ path('localidad') }}">Localidad</a></li>  
                                <li><a href="{{ path('provincia') }}">Provincia</a></li>  
                                <li><a href="{{ path('producto') }}">Producto</a></li>    
                                <li><a href="{{ path('proveedor') }}">Proveedor</a></li> 
                                <li><a href="{{ path('condicionpago') }}">Condicion Pago</a></li> 
                                <li><a href="{{ path('iva') }}">Iva</a></li> 

                            </ul>
                        </div>
                    </div>
                </div>
{% endblock %}

{% block body %}

{% endblock %}
{% block footer %}

{% endblock %}
{% block javascripts %}
{{ parent() }}
                <script type="text/javascript" src="{{ asset('bundles/factura/js/bootstrap.js') }}"></script>
                <script>
                    $('#myTab a').click(function(e) {
                        e.preventDefault()
                        $(this).tab('show')
                    })
                </script>
{% endblock %}
