{% extends '::base.html.twig' %}
{% block login %}
<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
            <a href="{{ path('fos_user_security_logout') }}" class="btn btn-success btn-sm">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>

            {% endif %}
    </div>

        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
            <div class="{{ type }}">
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
            {% endfor %}
        {% endfor %}

                <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
                    </div> </div>
{% endblock %}
{% block stylesheets %}
{{parent()}}

                <div class="navbar navbar-default navbar-static-top" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">Gestión de Facturas</a>
                        </div>
                        <div class="navbar-collapse collapse">                            
                                <ul class="nav navbar-nav">                                      
                                  <div class="dropdown" style="margin-top: 8px;">                                    
                                    <a class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" href="{{ path('homepage') }}">Home</a>                                    
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                        Factura<span class="caret"></span>                                      
                                      </button>
                                      <ul class="dropdown-menu" role="menu">
                                        <li><a href="{{ path('factura') }}">Ver</a></li>
                                        <li><a href="{{ path('factura_new') }}">Nueva Factura</a></li>
                                      </ul>
                                     </div>                                                                  
                                     <div class="btn-group">
                                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                        Localidad<span class="caret"></span>                                      
                                      </button>
                                      <ul class="dropdown-menu" role="menu">
                                        <li><a href="{{ path('localidad') }}">Ver</a></li>
                                        <li><a href="{{ path('localidad_new') }}">Nueva Localidad</a></li>
                                      </ul>
                                     </div>     
                                      <div class="btn-group">
                                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                        Provincia<span class="caret"></span>                                      
                                      </button>
                                      <ul class="dropdown-menu" role="menu">
                                        <li><a href="{{ path('provincia') }}">Ver</a></li>
                                        <li><a href="{{ path('provincia_new') }}">Nueva Provincia</a></li>
                                      </ul>
                                     </div>   
                                     <div class="btn-group">
                                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                        Producto<span class="caret"></span>                                      
                                      </button>
                                      <ul class="dropdown-menu" role="menu">
                                        <li><a href="{{ path('producto') }}">Ver</a></li>
                                        <li><a href="{{ path('producto_new') }}">Nuevo Producto</a></li>
                                      </ul>
                                     </div>   
                                     <div class="btn-group">
                                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                        Proveedor<span class="caret"></span>                                      
                                      </button>
                                      <ul class="dropdown-menu" role="menu">
                                        <li><a href="{{ path('proveedor') }}">Ver</a></li>
                                        <li><a href="{{ path('proveedor_new') }}">Nuevo Proveedor</a></li>
                                      </ul>
                                     </div>   
                                      <div class="btn-group">
                                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                        Condicion de Pago<span class="caret"></span>                                      
                                      </button>
                                      <ul class="dropdown-menu" role="menu">
                                        <li><a href="{{ path('condicionpago') }}">Ver</a></li>
                                        <li><a href="{{ path('condicionpago_new') }}">Nueva Condicion de Pago</a></li>
                                      </ul>
                                     </div>   
                                     <div class="btn-group">
                                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                        Iva<span class="caret"></span>                                      
                                      </button>
                                      <ul class="dropdown-menu" role="menu">
                                        <li><a href="{{ path('iva') }}">Ver</a></li>
                                        <li><a href="{{ path('iva_new') }}">Nuevo Iva</a></li>
                                      </ul>
                                     </div>   
                                    </div>  
                                 </ul>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}

{% block body %}

{% endblock %}
{% block footer %}

{% endblock %}
{% block javascripts %}
{{ parent() }}
                <script type="text/javascript" src="{{ asset('bundles/factura/js/bootstrap.js') }}"></script>               
{% endblock %}
