{% extends 'FacturaBundle::layout.html.twig' %}

{% block body %}
<!-- Static navbar -->

<div class="container">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
          <h3>Listado de Condiciones de Pago</h3>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('condicionpago_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.descripcion }}</td>
                <td>
                <ul>
                    <li class="sinPunto">                                    
                                    <a class="btn btn-default glyphicon glyphicon-search" href="{{ path('condicionpago_show', { 'id': entity.id }) }}"></a>
                                </li>
                                <li class="sinPunto">                                 
                                    <a class="btn btn-default glyphicon glyphicon-edit" href="{{ path('condicionpago_edit', { 'id': entity.id }) }}"></a>                                    
                                </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   
    </div>
</div> <!-- /container -->
 
    {% endblock %}
