{% extends 'FacturaBundle::layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}
<script>
    var contador = 0;
    var index = 0;
    jQuery(document).ready(function($) {

        $("#witzke_facturabundle_factura_provincia").change(function() {
            
            var data = {
                provincia_id: $(this).val()
            };            
            $.ajax({
                type: 'post',
                url: '{{ path("seleccionar_localidad") }}',
                data: data,
                success: function(data) {
                    $('#witzke_facturabundle_factura_localidad').html(data);
                }
            });
        });  
        
     $(document).on('change','.choice_producto',function(){             
            var cantidad = parseFloat($('#witzke_facturabundle_factura_detalles_' + (contador-1) + '_cantidad').val());           
            var total= parseFloat($('#witzke_facturabundle_factura_total').val());            
            var data = {
                producto_id: $(this).val()                
            };
            $.ajax({
                type: 'post',
                url: '{{ path("ajax") }}',
                data: data,
                success: function(data) {  
                    var subtotal = parseFloat(data)*cantidad;                   
                    total = subtotal+total; 
                    $('#witzke_facturabundle_factura_total').val(total);}                
            });
        });  
    });

   //var collectionHolder = $('ul.detalles');

    function addTagForm() {
        // Get the data-prototype explained earlier

        var prototype = $('div#Factura_detalle').data('prototype');

        // get the new index
        var index = $('div#Factura_detalle').data('index');

        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        var newForm = prototype.replace(/__name__/g, index);

        // increase the index with one for the next item
        $('div#Factura_detalle').data('index', index + 1);
        contador = contador+1;
        // Display the form in the page in an li, before the "Add a address" link li
        var $newFormLi = $('<div id="detalle"></div>').append(newForm);
        $newFormLi.append('<a id="cerrar" class="btn btn-danger btn-xs rem_item">X</a>')
        $('div#detalle-factura').append($newFormLi);        
        var producto = $('#witzke_facturabundle_factura_detalles_' + (index+1) + '_producto').val();        
      

    }

    // setup an "add a address" link
    var newLinkLi = $('a.add_item');

    $(function() {

        $('div#Factura_detalle').data('index', $('div#Factura_detalle').find(':input').length);

        $('a.add_item').on('click', function(e) {
            e.preventDefault();
            addTagForm();

        });

        $(document).on('click', 'a.rem_item', function() {
            $(this).closest('div#detalle').fadeOut(500, function() {
                var total= parseFloat($('#witzke_facturabundle_factura_total').val()); 
                var cantidad = $(this).find("input").val();               
                var data = {
                    producto_id: $(this).find(".choice_producto").val()               
                 };
                $.ajax({
                type: 'post',
                url: '{{ path("ajax") }}',
                data: data,
                success: function(data) {  
                    var subtotal = parseFloat(data)*cantidad;                   
                    total = total-subtotal; 
                    $('#witzke_facturabundle_factura_total').val(total);}                
            });
                
                
                
                $(this).remove();
            });
        });

    });
    function addTagFormDeleteLink($tagFormLi) {
        var $removeFormA = $('<a href="#">Borrar este detalle</a>');
        $tagFormLi.append($removeFormA);
        $removeFormA.on('click', function(e) {
            e.preventDefault();
            $tagFormLi.remove();
        });
    }
    </script>
{% endblock %}
{% block body -%}
    <div class="container">
        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron">  

   <h3>Editar factura</h3>
    
    {{ form(edit_form) }}
    <table>
                <tr>
                    <td>{{ form(edit_form) }}</td> 
                    <td><a class="btn btn-sm btn-primary" type="button" href="{{ path('factura')}}">Volver al listado</a></td>                    
                    <td>{{ form(delete_form)}}</td>
                </tr>
        </table>  

                        
    </div>
    </div>
{% endblock %}
