{% extends 'FacturaBundle::layout.html.twig' %}

{% block body %}

    <div class="container">  
    <form action="{{path('factura') }}" method="post" {{ form_enctype(filter_form)}}
          {{form_widget (filter_form)}}<div class="container"><button type="submit" class="btn btn-primary" style="margin-bottom: 10px;"><i class="search"></i>Buscar</button></form></div>
    
    </div>
 
<div class="container">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h3>Facturas</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Numerofactura</th>
                    <th>Fecha</th>
                    <th>Total</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
        {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('factura_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                        <td>{{ entity.numeroFactura }}</td>
                        <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{{ entity.total }}</td>
                        <td>
                            <ul>
                                <li class="sinPunto">                                    
                                    <a class="btn btn-default glyphicon glyphicon-search" href="{{ path('factura_show', { 'id': entity.id }) }}"></a>
                                </li>
                                <li class="sinPunto">                                 
                                    <a class="btn btn-default glyphicon glyphicon-edit" href="{{ path('factura_edit', { 'id': entity.id }) }}"></a>                                    
                                </li>
                            </ul>
                        </td>
                    </tr>
        {% endfor %}
                </tbody>
            </table>
        </div>
    </div> <!-- /container -->    



    {% endblock %}
