{% extends 'FacturaBundle::layout.html.twig' %}

{%block javascripts %}
{{ parent() }}

<script>

    var index = 0;
    jQuery(document).ready(function($) {

        $("#witzke_facturabundle_factura_provincia").change(function() {
            var data = {
                provincia_id: $(this).val()
            };
            $.ajax({
                type: 'post',
                url: '{{ path("seleccionar_localidad") }}',
                data: data,
                success: function(data) {
                    $('#witzke_facturabundle_factura_localidad').html(data);
                }
            });
        });
    });

    $('#{{form.detalles.vars.id}}').focus(function() {

    });//var collectionHolder = $('ul.detalles');

    function addTagForm() {
        // Get the data-prototype explained earlier

        var prototype = $('div#Factura_detalle').data('prototype');

        // get the new index
        var index = $('div#Factura_detalle').data('index');

        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        var newForm = prototype.replace(/__name__/g, index);

        // increase the index with one for the next item
        $('div#Factura_detalle').data('index', index + 1);

        // Display the form in the page in an li, before the "Add a address" link li
        var $newFormLi = $('<div id="detalle"></div>').append(newForm);
        $newFormLi.append('<a id="cerrar" class="btn btn-danger btn-xs rem_item">X</a>')
        $('div#detalle-factura').append($newFormLi);
        var cantidad = $('#witzke_facturabundle_factura_detalles_' + (index - 1) + '_cantidad').val();
        var producto = $('#witzke_facturabundle_factura_detalles_' + (index - 1) + '_producto').val();
        aButtonPressed(cantidad, producto);


    }

    // setup an "add a address" link
    var newLinkLi = $('a.add_item');

    $(function() {

        $('div#Factura_detalle').data('index', $('div#Factura_detalle').find(':input').length);

        $('a.add_item').on('click', function(e) {
            e.preventDefault();
            addTagForm();

        });

        $(document).on('click', 'a.rem_item', function() {
            $(this).closest('div#detalle').fadeOut(500, function() {
                $(this).remove();
            });
        });

    });
    function addTagFormDeleteLink($tagFormLi) {
        var $removeFormA = $('<a href="#">Borrar este detalle</a>');
        $tagFormLi.append($removeFormA);
        $removeFormA.on('click', function(e) {
            e.preventDefault();
            $tagFormLi.remove();
        });
    }

    function aButtonPressed(cantidad, producto) {
       $.post('{{path('factura_ajax')}}',
                {cantidad: cantidad, producto: producto},
        function(response) {
            if (response.code === 200 && response.success) {//dummy check

            }

        }, "json");      
    }





    </script>
{% endblock %}
{% block body %}
    <div class="container">
        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron">
            <h1>Creación de la Factura</h1>
            <form action="{{ path('factura_create') }}" method="post" {{ form_enctype(form) }}>
                {{ form_errors(form) }}
                {{ form_row(form.numeroFactura) }}
                {{ form_row(form.fecha) }}
                {{ form_row(form.total) }}
                {{ form_row(form.iva) }}
                {{ form_row(form.condicionPago) }}
                    <span style="display: flex;">
                    {{ form_row(form.provincia) }}
                    {{ form_row(form.localidad) }}              
                        </span>                                    

                        <div id="detalle-factura">
                                {{form_label(form.detalles)}}<a href="#" class="btn btn-xs btn-info add_item"><i class="glyphicon glyphicon-plus glyphicon-white"></i> Agregar Detalle</a>
                                {{form_errors(form.detalles)}}
                            </div>

                            <div class="row items" id="Factura_detalle"   data-prototype="{{form_widget(form.detalles.vars.prototype)|e }}"></div>


                            <input type="submit" value="Crear Factura"/>
                            <div style="visibility: hidden;">{{ form_rest(form) }}</div>                
                        </form>
                        <ul class="record_actions">
                            <li><a href="{{ path('factura') }}">  Volver al listado</a></li> 
                        </ul>
                    </div>
                </div>
{% endblock %}
