{% extends '::base.html.twig' %}
{%block javascripts %}
{{ parent() }}
{{ form_javascript(form) }}
<script>
    jQuery(document).ready(function($) {
        $("#factura_provincia").change(function() {
            var data = {
                provincia_id: $(this).val()
            };
            $.ajax({
                type: 'post',
                url: '{{ path("seleccionar_localidad") }}',
                data: data,
                success: function(data) {
                    $('#factura_localidad').html(data);
                }
            });
        });
    });
    $(function() {
        $("#dialog").dialog({
            modal: true
        });
    });
    </script>
{% endblock %}
{% block body %}

    <h1>Creación de la Factura</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            {#
            <ul class="detalles" data-prototype="{{ form_widget(form.detalles.vars.prototype.cantidad)|e }}">

            </ul>
          #}  
                <a href="{{ path('factura') }}">
                    Back to the list
                </a>
            </li>
        </ul>
{% endblock %}
